@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Raleway:wght@400;700&display=swap");
:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.7;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  min-height: 20rem;
  width: 90%;
  max-width: 100rem;
  z-index: 10;
  display: flex;
  gap: 4rem;
}
@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    gap: 2rem;
  }
}
.container .left-side {
  align-self: flex-start;
  width: 30%;
  min-height: 20rem;
  border-radius: 0.5rem 10rem 0.5rem 0.5rem;
  background-color: var(--dark-blue);
  padding: 4rem;
}
@media only screen and (max-width: 800px) {
  .container .left-side {
    width: 100%;
  }
}
.container .left-side .icons-container {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.container .left-side .icons-container .icon {
  background-color: var(--very-dark-blue);
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}
.container .right-side {
  position: relative;
  width: 70%;
  height: 15rem;
  background-color: var(--dark-blue);
  align-self: flex-end;
  border-radius: 0.5rem;
  padding: 4rem;
}
@media only screen and (max-width: 800px) {
  .container .right-side {
    width: 100%;
  }
}
.container .right-side .paragraph {
  color: var(--pale-blue);
  margin-bottom: 1rem;
}
.container .right-side .progress {
  width: 100%;
  height: 2rem;
  background-color: var(--dark-blue);
  border-radius: 0.5rem;
}
.container .right-side .capacity {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--pale-blue);
}
.container .right-side .left-size {
  background-color: var(--pale-blue);
  position: absolute;
  right: 4rem;
  top: -25%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container .right-side .left-size > :nth-child(1) {
  font-size: 3rem;
  font-weight: 700;
}
.container .right-side .left-size > :nth-child(2) {
  color: var(--grayish-blue);
  font-weight: 700;
}
.container .right-side .left-size::after {
  content: "";
  width: 2rem;
  height: 2rem;
  right: 0;
  position: absolute;
  bottom: -22%;
  border-left: 3rem solid transparent;
  border-right: 0px solid transparent;
  border-top: 3rem solid var(--pale-blue);
}
@media only screen and (max-width: 800px) {
  .container .right-side .left-size::after {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .container .right-side .left-size {
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
  }
}

::-webkit-progress-value {
  background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

::-webkit-progress-bar {
  background-color: var(--very-dark-blue);
  border-radius: 1.5rem;
  overflow: hidden;
}

.bg {
  height: 62%;
  width: 100%;
  background-image: url("../images/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: -10rem;
}
@media only screen and (max-width: 800px) {
  .bg {
    height: 100%;
    bottom: 0;
    top: 0;
    background-image: url("../images/bg-mobile.png");
  }
}

/*# sourceMappingURL=style.css.map */
